body {
	background-color: white;
	color: black;
}

h1 {
	font-size: 2.5em;
	font-weight: bold;
}

h2 {
	font-size: 1.5em;
	font-weight: bold;
}

h3 {
	font-size: 1em;
}

.btn {
	background-color: #f6a800;
	color: black;
}

.banner {
	background-color: #d5d5d5;
	color: black;
}
.ingredients {
	background-color: #cf9c00;
	color: black;
}
.dishItem {
	text-align: center;
}