
body {
	background-image: url(images/bg.jpg);
	background-size: 100%;
	color: black;
	padding-top: 100px;
}

h1 {
	font-size: 2.5em;
	font-weight: bold;
	color:#0f304a;
}

h2 {
	font-size: 1.5em;
	font-weight: bold;
	color:#0f304a;
}
h4{
	font-size: 1.5em;
	font-weight: bold;
	color:#deedf9;
}

h6{
	font-size: 0.8em;
	font-weight: normal;
	color:#0f304a;
}

a {
	color:white;
	text-align: left;
	font-size: 1.0em;
	font-weight: bold;
}

#loading {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: rgba(130,155,110,0.4);
}

a:hover {
	color:salmon;
	font-size:1.0em;
}

h3 {
	font-size: 1em;
}

.pad {
	padding-left: 10px;
	padding-right: 10px;
    float: none;
    vertical-align: top;
}

.oPanel {
	background-color: orange;
}

.outline1 {
	outline:solid 2px;
	outline-color: #0f304a;
}

.border1 {
	border:solid 2px;
	border-color: #0f304a;
}

.dishItem {

	background-color:rgba(90,150,187,1);
	margin: 25px;
	padding-top: 5px;
	/*border:solid 2px;*/
}

.listItem {
	background-color:rgba(60,150,150,0.5);
	height: 100px;


}

.imgCent{
	text-align: center;
	padding-top: 10px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	
}


#searchBar {
	background-color:rgba(90,150,187,0.75);
}

#superContainer {
	background-color:rgba(255,255,255,0.75);
	outline: solid #FFFFFF 10px;
	outline-top: solid #FFFFFF 20px;
	outline-bottom: solid #FFFFFF 30px;
}

#leftCol1 {
	background-color:rgba(90,150,187,0.75);
}
#dishName {
	background-color:#dddddd;
}

.btn {
	-webkit-border-radius: 3;
	-moz-border-radius: 3;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 0px #666666;
	-moz-box-shadow: 1px 1px 0px #666666;
	box-shadow: 1px 1px 0px #666666;
	color: #000000;
	background: #FFFFFF;
	border: solid rgb(228,125,34) 2px;
	text-decoration: none;
	padding: 1px;
}

.banner {
	background-color: #d5d5d5;
	color: black;
	border-style: solid;
	border-width: 2px;
}

.ingredients {
	background-color: #cf9c00;
	color: black;
}

.border {
}

.glyphicon-minus{
}

.glyphicon-plus{
}
