<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>

<div id="search" class="col-md-9 full-height">

	<form class="form-inline">
		<div class="form-group">
			<input class="form-control" id="searchbar" ng-model="query" placeholder="Search"/>
			<button class="btn btn-primary" ng-click="search(query)">Find</button>
		</div>
		{{status}}
	</form>

	<div class="row">
		<div class="col-md-3" ng-repeat="dish in dishes">
			<div><a ng-href="#/dish/{{dish.RecipeID}}"><img ng-src="{{dish.ImageURL120}}"/></a></div>
			<h4>{{dish.Title}} <small>{{dish.Category}}</small></h4>
			 <!--{{dish.Subcategory}}-->
		</div>
	</div>

</div>

<!-- TODO in Lab 5: Display the input box for search (you can ignore the type dropdown since BigOven does
not support it in free version) and list all the dishes that match the search. -->