<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>

<div id="search" class="col-md-10 full-height">

	<input ng-model="query" placeholder="Search"/>
	<button ng-click="search(query)">Find</button>

	{{status}}

	<div class="row">
		<div class="col-md-3" ng-repeat="dish in dishes">
			<div><img ng-src="{{dish.ImageURL120}}"/></div>
			{{dish.Title}}
			<a ng-href="#/dish/{{dish.RecipeID}}">View more</a>
			{{dish.Category}} {{dish.Subcategory}}
		</div>
	</div>

</div>

<!-- TODO in Lab 5: Display the input box for search (you can ignore the type dropdown since BigOven does
not support it in free version) and list all the dishes that match the search. -->